/*
  Carousel structure as follows:
    div#carousel
    -    width of container, height dictated by height of tallest image
    -    make sure that either....images are the same height, or somehow center align them
      div.item-container
      -    items live here, have the same padding/border/background/whatever
      -    all floated left
      div.controls
      -    Control items, however it works etc



*/
/*
  Get the number of items, at each step, slide left until out of viewport, then translate
  to end of row
*/
#roundabout {
  /**
  * Keyframes operate like so:
  * 1. Slide all items to the left
  * 2. Make leftmost item transparent (Quick as possible)
  * 3. Move leftmost item to far right (quick as possible)
  * 4. Make rightmost item opaque (quick as possible)
  */
  width: 600px;
  position: relative;
  overflow: hidden;
  height: 250px;
  margin: 0 auto; }

@keyframes slide-1 {
  0%, 100% {
    left: 0px; }
  30.33333% {
    left: -600px;
    opacity: 1; }
  31.33333% {
    opacity: 0; }
  40.33333% {
    opacity: 0;
    left: 1200px; }
  41.33333% {
    opacity: 1; } }

@keyframes slide-2 {
  0%, 100% {
    left: 600px; }
  30.33333% {
    left: 0px;
    opacity: 1; } }

@keyframes slide-3 {
  0%, 100% {
    left: 1200px; }
  30.33333% {
    left: 600px;
    opacity: 1; } }
  #roundabout .roundabout-slides {
    position: relative;
    width: 1800px;
    height: 100%; }
  #roundabout .roundabout-slide {
    box-sizing: border-box;
    width: 600px;
    height: 250px;
    margin: 0 0;
    padding: 10px;
    display: inline-block;
    top: 0;
    position: absolute;
    text-align: center; }
  #roundabout .roundabout-slide img {
    height: 100%; }
  #roundabout .roundabout-items:hover {
    animation-play-state: paused; }
  #roundabout .roundabout-slide:nth-child(1) {
    left: 0px;
    animation-name: slide-1;
    animation-duration: 9s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  #roundabout .roundabout-slide:nth-child(2) {
    left: 600px;
    animation-name: slide-2;
    animation-duration: 9s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  #roundabout .roundabout-slide:nth-child(3) {
    left: 1200px;
    animation-name: slide-3;
    animation-duration: 9s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
