/*
  Carousel structure as follows:
    div#carousel 
    -    width of container, height dictated by height of tallest image
    -    make sure that either....images are the same height, or somehow center align them
      div.item-container 
      -    items live here, have the same padding/border/background/whatever
      -    all floated left
      div.controls
      -    Control items, however it works etc
        


*/
/*
  Get the number of items, at each step, slide left until out of viewport, then translate
  to end of row
*/
#roundabout {
  width: 600px;
  position: relative;
  overflow: hidden;
  height: 250px; }

@keyframes slide-1 {
  0% { }
  25% {
    transform: translateX(200%); }
  50% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes slide-2 {
  0% { }
  25% {
    transform: translateX(200%); }
  50% {
    transform: translateX(200%); }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes slide-3 {
  0% { }
  25% {
    transform: translateX(200%); }
  50% {
    transform: translateX(200%); }
  75% {
    transform: translateX(200%); }
  100% {
    opacity: 0; } }

@keyframes slide-4 {
  0% { }
  25% {
    transform: translateX(200%); }
  50% {
    transform: translateX(200%); }
  75% {
    transform: translateX(200%); }
  100% {
    transform: translateX(200%); } }
  #roundabout .roundabout-slide:nth-child(1) {
    left: 0px;
    animation-name: slide-1;
    animation-duration: 12s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease; }
  #roundabout .roundabout-slide:nth-child(2) {
    left: 400px;
    animation-name: slide-2;
    animation-duration: 12s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease; }
  #roundabout .roundabout-slide:nth-child(3) {
    left: 800px;
    animation-name: slide-3;
    animation-duration: 12s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease; }
  #roundabout .roundabout-slide:nth-child(4) {
    left: 1200px;
    animation-name: slide-4;
    animation-duration: 12s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease; }
  #roundabout .roundabout-slides {
    position: relative;
    width: 2000px;
    height: 100%; }
  #roundabout .roundabout-slide {
    box-sizing: border-box;
    width: 400px;
    height: 250px;
    line-height: 250px;
    background-color: #fff;
    padding: 10px;
    display: inline-block;
    top: 0;
    position: absolute; }
  #roundabout .roundabout-slide img {
    height: 100%; }
  #roundabout .roundabout-items:hover {
    animation-play-state: paused; }
