/*
  Carousel structure as follows:
    div#carousel 
    -    width of container, height dictated by height of tallest image
    -    make sure that either....images are the same height, or somehow center align them
      div.item-container 
      -    items live here, have the same padding/border/background/whatever
      -    all floated left
      div.controls
      -    Control items, however it works etc
        


*/
/*
  Get the number of items, at each step, slide left until out of viewport, then translate
  to end of row
*/
#roundabout {
  width: 600px;
  position: relative;
  overflow: hidden;
  height: 250px; }

@-webkit-keyframes slide-1 {
  0% {
    left: 0px; }
  25% {
    left: 1200px; }
  50% {
    left: 800px; }
  75% {
    left: 400px; }
  100% {
    left: 0px; } }

@keyframes slide-1 {
  0% {
    left: 0px; }
  25% {
    left: 1200px; }
  50% {
    left: 800px; }
  75% {
    left: 400px; }
  100% {
    left: 0px; } }

@-webkit-keyframes slide-2 {
  0% {
    left: 400px; }
  25% {
    left: 0px; }
  50% {
    left: 1200px; }
  75% {
    left: 800px; }
  100% {
    left: 400px; } }

@keyframes slide-2 {
  0% {
    left: 400px; }
  25% {
    left: 0px; }
  50% {
    left: 1200px; }
  75% {
    left: 800px; }
  100% {
    left: 400px; } }

@-webkit-keyframes slide-3 {
  0% {
    left: 800px; }
  25% {
    left: 400px; }
  50% {
    left: 0px; }
  75% {
    left: 1200px; }
  100% {
    left: 800px; } }

@keyframes slide-3 {
  0% {
    left: 800px; }
  25% {
    left: 400px; }
  50% {
    left: 0px; }
  75% {
    left: 1200px; }
  100% {
    left: 800px; } }

@-webkit-keyframes slide-4 {
  0% {
    left: 1200px; }
  25% {
    left: 800px; }
  50% {
    left: 400px; }
  75% {
    left: 0px; }
  100% {
    left: 1200px; } }

@keyframes slide-4 {
  0% {
    left: 1200px; }
  25% {
    left: 800px; }
  50% {
    left: 400px; }
  75% {
    left: 0px; }
  100% {
    left: 1200px; } }
  #roundabout .roundabout--item:nth-child(1) {
    left: 0px;
    -webkit-animation-name: slide-1;
            animation-name: slide-1;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease; }
  #roundabout .roundabout--item:nth-child(2) {
    left: 400px;
    -webkit-animation-name: slide-2;
            animation-name: slide-2;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease; }
  #roundabout .roundabout--item:nth-child(3) {
    left: 800px;
    -webkit-animation-name: slide-3;
            animation-name: slide-3;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease; }
  #roundabout .roundabout--item:nth-child(4) {
    left: 1200px;
    -webkit-animation-name: slide-4;
            animation-name: slide-4;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease; }
  #roundabout .roundabout--items {
    width: 2000px;
    height: 100%; }
  #roundabout .roundabout--item {
    box-sizing: border-box;
    width: 400px;
    padding: 10px;
    display: inline-block;
    top: 0;
    position: absolute; }
  #roundabout .roundabout--item img {
    width: 100%; }
  #roundabout .roundabout-items:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused; }
